In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import datetime

In [5]:
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 35)
pd.set_option('display.precision', 3)

In [2]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    # base url
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        # concat our week onto url.. 
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [170527, 170520, 170513, 170506, 170429]
df = get_data(week_nums)

In [6]:
len(df)

983349

In [7]:
df.reset_index()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,00:00:00,REGULAR,6184841,2095161
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326
5,5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,20:00:00,REGULAR,6185506,2095379
6,6,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,00:00:00,REGULAR,6185634,2095402
7,7,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,04:00:00,REGULAR,6185655,2095410
8,8,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,08:00:00,REGULAR,6185665,2095420
9,9,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,12:00:00,REGULAR,6185734,2095480
10,10,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,16:00:00,REGULAR,6185889,2095539
11,11,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/21/2017,20:00:00,REGULAR,6186111,2095577
12,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2017,00:00:00,REGULAR,6186215,2095600
13,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2017,08:00:00,REGULAR,6186282,2095704
14,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2017,12:00:00,REGULAR,6186432,2095955
15,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2017,16:00:00,REGULAR,6186689,2096029
16,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/22/2017,20:00:00,REGULAR,6187464,2096100
...,...,...,...,...,...,...,...,...,...,...,...,...
983332,198243,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/26/2017,05:00:00,REGULAR,5554,297
983333,198244,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/26/2017,09:00:00,REGULAR,5554,297
983334,198245,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/26/2017,13:00:00,REGULAR,5554,297
983335,198246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/26/2017,17:00:00,REGULAR,5554,297
983336,198247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/26/2017,21:00:00,REGULAR,5554,297
983337,198248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,01:00:00,REGULAR,5554,297
983338,198249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,05:00:00,REGULAR,5554,297
983339,198250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,09:00:00,REGULAR,5554,297
983340,198251,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,13:00:00,REGULAR,5554,297
983341,198252,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,17:00:00,REGULAR,5554,297
983342,198253,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/27/2017,21:00:00,REGULAR,5554,297
983343,198254,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,01:00:00,REGULAR,5554,297
983344,198255,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,05:00:00,REGULAR,5554,297
983345,198256,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,09:00:00,REGULAR,5554,297
983346,198257,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,13:00:00,REGULAR,5554,297
983347,198258,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,17:00:00,REGULAR,5554,297
983348,198259,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/28/2017,21:00:00,REGULAR,5554,297

In [8]:
df.rename(columns=lambda x: x.strip(), inplace=True)

In [9]:
df['LINESORT'] = df.LINENAME.apply(sorted)

In [10]:
df['LINESORT'] = df.LINESORT.apply(''.join)

In [11]:
df['STAT_MERGE'] = df['STATION'] + ' ' + df['LINESORT']

In [12]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,00:00:00,REGULAR,6184841,2095161,456NQRW,59 ST 456NQRW
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW

In [13]:
df['ACTUALENTRY'] = df['ENTRIES'].diff()
mask = df.UNIT != df.UNIT.shift(1)
mask2 = df.SCP != df.SCP.shift(1)
df['ACTUALENTRY'][mask] = np.nan
df['ACTUALENTRY'][mask2] = np.nan

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [14]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,00:00:00,REGULAR,6184841,2095161,456NQRW,59 ST 456NQRW,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0

In [15]:
df['ACTUALEXIT'] = df['EXITS'].diff()
df['ACTUALEXIT'][mask] = np.nan
df['ACTUALEXIT'][mask2] = np.nan

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,00:00:00,REGULAR,6184841,2095161,456NQRW,59 ST 456NQRW,NaN,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0,6.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0,25.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0,83.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0,51.0

In [17]:
df["DATE_TIME"] = pd.to_datetime(df.DATE + " " +df.TIME, format="%m/%d/%Y %H:%M:%S")

In [18]:
df['TIMEDIFF'] = df['DATE_TIME'].diff()
mask = df.UNIT != df.UNIT.shift(1)
mask2 = df.SCP != df.SCP.shift(1)
df['TIMEDIFF'][mask] = np.nan
df['TIMEDIFF'][mask2] = np.nan

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [19]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,00:00:00,REGULAR,6184841,2095161,456NQRW,59 ST 456NQRW,NaN,NaN,2017-05-20 00:00:00,NaT
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0,6.0,2017-05-20 04:00:00,04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0,25.0,2017-05-20 08:00:00,04:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0,83.0,2017-05-20 12:00:00,04:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0,51.0,2017-05-20 16:00:00,04:00:00

In [20]:
df.TIMEDIFF.value_counts()

0 days 04:00:00    885116
0 days 04:12:00     60545
0 days 08:00:00      1139
0 days 04:26:00       717
0 days 00:01:20       370
0 days 00:01:21       198
0 days 00:01:33        75
0 days 04:11:59        68
0 days 00:01:41        59
0 days 00:01:07        59
0 days 00:01:25        53
0 days 00:01:31        47
0 days 00:01:05        45
0 days 00:01:22        45
0 days 00:01:36        42
0 days 00:00:26        37
0 days 00:01:15        37
                    ...
0 days 08:13:17         1
0 days 04:04:48         1
0 days 04:13:17         1
0 days 01:53:28         1
0 days 04:02:01         1
0 days 04:02:15         1
0 days 04:06:36         1
0 days 04:45:47         1
0 days 04:17:54         1
0 days 04:07:51         1
0 days 04:01:18         1
0 days 04:10:29         1
0 days 04:08:34         1
0 days 04:53:46         1
1 days 04:17:54         1
0 days 04:12:12         1
0 days 02:08:17         1
Name: TIMEDIFF, Length: 2166, dtype: int64

In [21]:
df.TIME.value_counts().head(20)

04:00:00    84016
00:00:00    84010
20:00:00    83949
08:00:00    83943
16:00:00    83914
12:00:00    83910
05:00:00    60546
01:00:00    60530
17:00:00    60505
09:00:00    60474
21:00:00    60465
13:00:00    60450
18:00:00     3846
06:00:00     3841
10:00:00     3837
02:00:00     3836
14:00:00     3834
22:00:00     3833
03:00:00     1370
15:00:00     1370
Name: TIME, dtype: int64

In [22]:
df['ACTUALENTRY'] = abs(df['ACTUALENTRY'])

In [23]:
df['ACTUALEXIT'] = abs(df['ACTUALEXIT'])

In [24]:
df.sort_values(by = 'ACTUALENTRY', ascending=False).head(15)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF
195481,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,05/05/2017,09:00:00,REGULAR,1560221483,1728055978,5,EASTCHSTER/DYRE 5,1.558e+09,1.727e+09,2017-05-05 09:00:00,0 days 20:00:00
151863,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2017,09:00:00,REGULAR,95,21,4567S,GRD CNTRL-42 ST 4567S,8.566e+08,5.039e+07,2017-05-25 09:00:00,0 days 20:00:00
135682,R161B,R452,00-00-03,72 ST,123,IRT,04/30/2017,13:00:00,REGULAR,691260128,1758148378,123,72 ST 123,6.832e+08,1.751e+09,2017-04-30 13:00:00,0 days 16:00:00
136323,R169,R168,01-03-01,96 ST,123,IRT,05/25/2017,21:00:00,REGULAR,183,752,123,96 ST 123,6.058e+08,1.313e+09,2017-05-25 21:00:00,0 days 04:00:00
153362,R241A,R048,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2017,13:00:00,REGULAR,503289886,1207885953,4567S,GRD CNTRL-42 ST 4567S,4.885e+08,1.179e+09,2017-05-04 13:00:00,0 days 04:00:00
134024,R160A,R164,00-05-00,66 ST-LINCOLN,1,IRT,05/19/2017,09:00:00,RECOVR AUD,117440512,0,1,66 ST-LINCOLN 1,1.170e+08,0.000e+00,2017-05-19 09:00:00,0 days 04:00:00
9686,A054,R227,01-06-00,RECTOR ST,NRW,BMT,05/22/2017,20:00:00,REGULAR,371,20,NRW,RECTOR ST NRW,1.008e+08,1.682e+07,2017-05-22 20:00:00,0 days 04:00:00
150431,R228,R143,00-00-04,28 ST,6,IRT,04/26/2017,17:00:00,REGULAR,100710462,33611766,6,28 ST 6,1.004e+08,3.273e+07,2017-04-26 17:00:00,0 days 08:00:00
184715,R602,R108,00-06-01,BOROUGH HALL,2345R,IRT,05/17/2017,08:00:00,REGULAR,117440523,10,2345R,BOROUGH HALL 2345R,9.825e+07,2.064e+06,2017-05-17 08:00:00,0 days 04:00:00
64691,N138,R355,01-06-01,111 ST,A,IND,05/18/2017,13:00:00,REGULAR,83942621,33592614,A,111 ST A,8.356e+07,3.345e+07,2017-05-18 13:00:00,0 days 04:00:00
166407,R311,R053,00-05-00,3 AV-149 ST,25,IRT,04/28/2017,16:00:00,REGULAR,67108864,16777216,25,3 AV-149 ST 25,6.711e+07,1.678e+07,2017-04-28 16:00:00,0 days 04:00:00
160102,R287,R244,00-05-00,BURNSIDE AV,4,IRT,05/26/2017,16:00:00,REGULAR,33554476,6,4,BURNSIDE AV 4,3.083e+07,4.069e+06,2017-05-26 16:00:00,0 days 04:00:00
71940,N223,R156,01-06-01,BEDFORD PK BLVD,BD,IND,05/17/2017,17:00:00,REGULAR,33554676,67,BD,BEDFORD PK BLVD BD,3.050e+07,4.456e+05,2017-05-17 17:00:00,0 days 12:00:00
152949,R240,R047,00-00-01,GRD CNTRL-42 ST,4567S,IRT,05/04/2017,17:00:00,REGULAR,1866,16,4567S,GRD CNTRL-42 ST 4567S,2.024e+07,1.389e+07,2017-05-04 17:00:00,1 days 16:00:00
156880,R251,R144,00-03-02,96 ST,6,IRT,05/19/2017,05:00:00,REGULAR,65804,19,6,96 ST 6,1.940e+07,2.191e+06,2017-05-19 05:00:00,0 days 04:00:00

In [25]:
df = df[df.DESC == 'REGULAR']

In [26]:
df.sort_values(by = 'ACTUALENTRY', ascending=False).head(15)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF
195481,R730,R431,00-00-04,EASTCHSTER/DYRE,5,IRT,05/05/2017,09:00:00,REGULAR,1560221483,1728055978,5,EASTCHSTER/DYRE 5,1.558e+09,1.727e+09,2017-05-05 09:00:00,0 days 20:00:00
151863,R241A,R048,00-00-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2017,09:00:00,REGULAR,95,21,4567S,GRD CNTRL-42 ST 4567S,8.566e+08,5.039e+07,2017-05-25 09:00:00,0 days 20:00:00
135682,R161B,R452,00-00-03,72 ST,123,IRT,04/30/2017,13:00:00,REGULAR,691260128,1758148378,123,72 ST 123,6.832e+08,1.751e+09,2017-04-30 13:00:00,0 days 16:00:00
136323,R169,R168,01-03-01,96 ST,123,IRT,05/25/2017,21:00:00,REGULAR,183,752,123,96 ST 123,6.058e+08,1.313e+09,2017-05-25 21:00:00,0 days 04:00:00
153362,R241A,R048,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/04/2017,13:00:00,REGULAR,503289886,1207885953,4567S,GRD CNTRL-42 ST 4567S,4.885e+08,1.179e+09,2017-05-04 13:00:00,0 days 04:00:00
9686,A054,R227,01-06-00,RECTOR ST,NRW,BMT,05/22/2017,20:00:00,REGULAR,371,20,NRW,RECTOR ST NRW,1.008e+08,1.682e+07,2017-05-22 20:00:00,0 days 04:00:00
150431,R228,R143,00-00-04,28 ST,6,IRT,04/26/2017,17:00:00,REGULAR,100710462,33611766,6,28 ST 6,1.004e+08,3.273e+07,2017-04-26 17:00:00,0 days 08:00:00
184715,R602,R108,00-06-01,BOROUGH HALL,2345R,IRT,05/17/2017,08:00:00,REGULAR,117440523,10,2345R,BOROUGH HALL 2345R,9.825e+07,2.064e+06,2017-05-17 08:00:00,0 days 04:00:00
64691,N138,R355,01-06-01,111 ST,A,IND,05/18/2017,13:00:00,REGULAR,83942621,33592614,A,111 ST A,8.356e+07,3.345e+07,2017-05-18 13:00:00,0 days 04:00:00
166407,R311,R053,00-05-00,3 AV-149 ST,25,IRT,04/28/2017,16:00:00,REGULAR,67108864,16777216,25,3 AV-149 ST 25,6.711e+07,1.678e+07,2017-04-28 16:00:00,0 days 04:00:00
160102,R287,R244,00-05-00,BURNSIDE AV,4,IRT,05/26/2017,16:00:00,REGULAR,33554476,6,4,BURNSIDE AV 4,3.083e+07,4.069e+06,2017-05-26 16:00:00,0 days 04:00:00
71940,N223,R156,01-06-01,BEDFORD PK BLVD,BD,IND,05/17/2017,17:00:00,REGULAR,33554676,67,BD,BEDFORD PK BLVD BD,3.050e+07,4.456e+05,2017-05-17 17:00:00,0 days 12:00:00
152949,R240,R047,00-00-01,GRD CNTRL-42 ST,4567S,IRT,05/04/2017,17:00:00,REGULAR,1866,16,4567S,GRD CNTRL-42 ST 4567S,2.024e+07,1.389e+07,2017-05-04 17:00:00,1 days 16:00:00
156880,R251,R144,00-03-02,96 ST,6,IRT,05/19/2017,05:00:00,REGULAR,65804,19,6,96 ST 6,1.940e+07,2.191e+06,2017-05-19 05:00:00,0 days 04:00:00
16384,B022,R229,00-05-00,AVENUE M,BQ,BMT,05/01/2017,12:00:00,REGULAR,11,1,BQ,AVENUE M BQ,1.680e+07,2.517e+08,2017-05-01 12:00:00,0 days 04:00:00

In [27]:
new_df = df[df.ACTUALENTRY < 5000]

In [28]:
new_df.sort_values(by = 'ACTUALENTRY', ascending=False).head(15)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF
151644,R240,R047,00-03-08,GRD CNTRL-42 ST,4567S,IRT,05/23/2017,21:00:00,REGULAR,34087044,7650960,4567S,GRD CNTRL-42 ST 4567S,4517.0,322.0,2017-05-23 21:00:00,08:00:00
151834,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/10/2017,20:00:00,REGULAR,28652861,8757415,4567S,GRD CNTRL-42 ST 4567S,4481.0,16.0,2017-05-10 20:00:00,04:00:00
151196,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/16/2017,20:00:00,REGULAR,28683723,8769962,4567S,GRD CNTRL-42 ST 4567S,4310.0,31.0,2017-05-16 20:00:00,04:00:00
150903,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/22/2017,20:00:00,REGULAR,28718908,8784054,4567S,GRD CNTRL-42 ST 4567S,4193.0,11.0,2017-05-22 20:00:00,04:00:00
150909,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/23/2017,20:00:00,REGULAR,28729423,8785878,4567S,GRD CNTRL-42 ST 4567S,4173.0,32.0,2017-05-23 20:00:00,04:00:00
151828,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/09/2017,20:00:00,REGULAR,28643321,8754658,4567S,GRD CNTRL-42 ST 4567S,4051.0,147.0,2017-05-09 20:00:00,04:00:00
150915,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/24/2017,20:00:00,REGULAR,28740872,8787664,4567S,GRD CNTRL-42 ST 4567S,4051.0,91.0,2017-05-24 20:00:00,04:00:00
151275,R240,R047,00-00-01,GRD CNTRL-42 ST,4567S,IRT,05/23/2017,21:00:00,REGULAR,78792,81397,4567S,GRD CNTRL-42 ST 4567S,4009.0,1064.0,2017-05-23 21:00:00,08:00:00
151845,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/12/2017,20:00:00,REGULAR,28667816,8764388,4567S,GRD CNTRL-42 ST 4567S,4007.0,17.0,2017-05-12 20:00:00,04:00:00
90084,N420B,R317,00-00-01,CLINTON-WASH AV,G,IND,05/06/2017,21:00:00,REGULAR,7,10,G,CLINTON-WASH AV G,3962.0,7368.0,2017-05-06 21:00:00,04:00:00
153112,R238,R046,00-00-06,GRD CNTRL-42 ST,4567S,IRT,04/25/2017,20:00:00,REGULAR,3452499,7554652,4567S,GRD CNTRL-42 ST 4567S,3961.0,64.0,2017-04-25 20:00:00,04:00:00
151839,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/11/2017,20:00:00,REGULAR,28659909,8760842,4567S,GRD CNTRL-42 ST 4567S,3956.0,123.0,2017-05-11 20:00:00,04:00:00
151748,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,05/10/2017,20:00:00,REGULAR,13522703,5043784,4567S,GRD CNTRL-42 ST 4567S,3890.0,436.0,2017-05-10 20:00:00,04:00:00
151214,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/19/2017,20:00:00,REGULAR,28708076,8778147,4567S,GRD CNTRL-42 ST 4567S,3863.0,40.0,2017-05-19 20:00:00,04:00:00
150921,R238,R046,00-03-02,GRD CNTRL-42 ST,4567S,IRT,05/25/2017,20:00:00,REGULAR,28749882,8790104,4567S,GRD CNTRL-42 ST 4567S,3840.0,156.0,2017-05-25 20:00:00,04:00:00

In [29]:
new_df = df[df.ACTUALEXIT < 5000]

In [30]:
new_df.sort_values(by = 'ACTUALEXIT', ascending=False).head(15)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF
49024,N063A,R011,00-00-00,42 ST-PORT AUTH,ACENQRS1237W,IND,05/22/2017,20:00:00,REGULAR,16459422,57736969,1237ACENQRSW,42 ST-PORT AUTH 1237ACENQRSW,68.0,4888.0,2017-05-22 20:00:00,04:00:00
153200,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,04/26/2017,12:00:00,REGULAR,13464905,4960372,4567S,GRD CNTRL-42 ST 4567S,677.0,4876.0,2017-04-26 12:00:00,04:00:00
153206,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,04/27/2017,12:00:00,REGULAR,13469687,4973876,4567S,GRD CNTRL-42 ST 4567S,705.0,4870.0,2017-04-27 12:00:00,04:00:00
153194,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,04/25/2017,12:00:00,REGULAR,13462328,4945957,4567S,GRD CNTRL-42 ST 4567S,656.0,4868.0,2017-04-25 12:00:00,04:00:00
153250,R238,R046,00-03-01,GRD CNTRL-42 ST,4567S,IRT,04/27/2017,20:00:00,REGULAR,17952071,7090305,4567S,GRD CNTRL-42 ST 4567S,0.0,4850.0,2017-04-27 20:00:00,04:00:00
50046,N063A,R011,00-00-01,42 ST-PORT AUTH,ACENQRS1237W,IND,04/25/2017,20:00:00,REGULAR,1277656019,171923490,1237ACENQRSW,42 ST-PORT AUTH 1237ACENQRSW,84.0,4828.0,2017-04-25 20:00:00,04:00:00
153188,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,04/24/2017,12:00:00,REGULAR,13459363,4932189,4567S,GRD CNTRL-42 ST 4567S,670.0,4811.0,2017-04-24 12:00:00,04:00:00
49048,N063A,R011,00-00-00,42 ST-PORT AUTH,ACENQRS1237W,IND,05/25/2017,20:00:00,REGULAR,16467346,57767033,1237ACENQRSW,42 ST-PORT AUTH 1237ACENQRSW,75.0,4797.0,2017-05-25 20:00:00,04:00:00
153357,R241A,R048,00-00-00,GRD CNTRL-42 ST,4567S,IRT,05/03/2017,13:00:00,REGULAR,14838373,28874837,4567S,GRD CNTRL-42 ST 4567S,0.0,4589.0,2017-05-03 13:00:00,08:00:00
152199,R238,R046,00-03-01,GRD CNTRL-42 ST,4567S,IRT,05/01/2017,20:00:00,REGULAR,17965030,7132642,4567S,GRD CNTRL-42 ST 4567S,158.0,4568.0,2017-05-01 20:00:00,04:00:00
153256,R238,R046,00-03-01,GRD CNTRL-42 ST,4567S,IRT,04/28/2017,20:00:00,REGULAR,17954683,7105882,4567S,GRD CNTRL-42 ST 4567S,0.0,4529.0,2017-04-28 20:00:00,04:00:00
153244,R238,R046,00-03-01,GRD CNTRL-42 ST,4567S,IRT,04/26/2017,20:00:00,REGULAR,17950185,7073815,4567S,GRD CNTRL-42 ST 4567S,625.0,4518.0,2017-04-26 20:00:00,04:00:00
151116,R238,R046,00-06-00,GRD CNTRL-42 ST,4567S,IRT,05/24/2017,12:00:00,REGULAR,1946426,2870930,4567S,GRD CNTRL-42 ST 4567S,0.0,4475.0,2017-05-24 12:00:00,04:00:00
152154,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,05/01/2017,12:00:00,REGULAR,13484780,5012955,4567S,GRD CNTRL-42 ST 4567S,718.0,4463.0,2017-05-01 12:00:00,04:00:00
153212,R238,R046,00-03-00,GRD CNTRL-42 ST,4567S,IRT,04/28/2017,12:00:00,REGULAR,13471900,4987675,4567S,GRD CNTRL-42 ST 4567S,818.0,4430.0,2017-04-28 12:00:00,04:00:00

In [31]:
new_df['HRSDIFF'] = new_df['TIMEDIFF'].apply(lambda row: int(row.seconds/3600) if not pd.isnull(row) else row)

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
new_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF,HRSDIFF
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0,6.0,2017-05-20 04:00:00,04:00:00,4
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0,25.0,2017-05-20 08:00:00,04:00:00,4
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0,83.0,2017-05-20 12:00:00,04:00:00,4
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0,51.0,2017-05-20 16:00:00,04:00:00,4
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,20:00:00,REGULAR,6185506,2095379,456NQRW,59 ST 456NQRW,289.0,53.0,2017-05-20 20:00:00,04:00:00,4

In [33]:
new_df.HRSDIFF.value_counts()

4     944528
0       4478
1       2327
2       2203
3       1815
8       1136
12        33
16        19
20        15
5         13
6         11
7          9
10         6
17         5
15         4
14         4
13         3
11         3
22         2
19         2
21         2
18         1
23         1
Name: HRSDIFF, dtype: int64

In [34]:
new_df = new_df[new_df.HRSDIFF <= 4]

In [36]:
new_df.HRSDIFF.value_counts()

4    944528
0      4478
1      2327
2      2203
3      1815
Name: HRSDIFF, dtype: int64

In [37]:
def get_time_of_day(string):
    hour = int(string.split(":")[0])
    if hour <= 21 and hour > 17:
        tod = "Evening"
    elif hour <= 17 and hour > 13:
        tod = "Afternoon"
    elif hour <= 13 and hour > 9:
        tod = "Morning"
    elif hour <= 9 and hour > 5:
        tod = "Dawn"
    else:
        tod = 'Night'
    return tod
new_df["TIMEOFDAY"] = new_df["TIME"].apply(lambda row: get_time_of_day(row))

In [38]:
new_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF,HRSDIFF,TIMEOFDAY
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0,6.0,2017-05-20 04:00:00,04:00:00,4,Night
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0,25.0,2017-05-20 08:00:00,04:00:00,4,Dawn
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0,83.0,2017-05-20 12:00:00,04:00:00,4,Morning
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0,51.0,2017-05-20 16:00:00,04:00:00,4,Afternoon
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,20:00:00,REGULAR,6185506,2095379,456NQRW,59 ST 456NQRW,289.0,53.0,2017-05-20 20:00:00,04:00:00,4,Evening

In [39]:
new_df['DAYWEEK'] = new_df['DATE']
new_df['DAYWEEK'] = pd.to_datetime(new_df['DAYWEEK'])
new_df['DAYWEEK'] = new_df['DAYWEEK'].dt.weekday_name

In [40]:
new_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,LINESORT,STAT_MERGE,ACTUALENTRY,ACTUALEXIT,DATE_TIME,TIMEDIFF,HRSDIFF,TIMEOFDAY,DAYWEEK
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167,456NQRW,59 ST 456NQRW,24.0,6.0,2017-05-20 04:00:00,04:00:00,4,Night,Saturday
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,08:00:00,REGULAR,6184891,2095192,456NQRW,59 ST 456NQRW,26.0,25.0,2017-05-20 08:00:00,04:00:00,4,Dawn,Saturday
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,12:00:00,REGULAR,6184973,2095275,456NQRW,59 ST 456NQRW,82.0,83.0,2017-05-20 12:00:00,04:00:00,4,Morning,Saturday
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,16:00:00,REGULAR,6185217,2095326,456NQRW,59 ST 456NQRW,244.0,51.0,2017-05-20 16:00:00,04:00:00,4,Afternoon,Saturday
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,20:00:00,REGULAR,6185506,2095379,456NQRW,59 ST 456NQRW,289.0,53.0,2017-05-20 20:00:00,04:00:00,4,Evening,Saturday

In [53]:
grouped_d = new_df.groupby(["STAT_MERGE", "DAYWEEK", "TIMEOFDAY"], as_index=False).agg({'ACTUALEXIT' : sum})
grouped_d.head()
grouped_d.tail()

        STAT_MERGE    DAYWEEK  TIMEOFDAY  ACTUALEXIT
16270  ZEREGA AV 6  Wednesday  Afternoon      3105.0
16271  ZEREGA AV 6  Wednesday       Dawn      2414.0
16272  ZEREGA AV 6  Wednesday    Evening      4210.0
16273  ZEREGA AV 6  Wednesday    Morning      1621.0
16274  ZEREGA AV 6  Wednesday      Night      1842.0

In [54]:
def top_five(new_df):
    days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    times = ['Dawn', 'Morning', 'Afternoon', 'Evening', 'Night']
    for day in days:
        for time in times:
            mask = ((new_df['DAYWEEK'] == day) & (new_df['TIMEOFDAY'] == time))
            temp_df = new_df[mask].sort_values(by = ['ACTUALEXIT'], ascending = False).reset_index()
            print(day, time,'\n', temp_df.head())

In [55]:
top_five(grouped_d)

Sunday Dawn
    index                STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0    926   14 ST-UNION SQ 456LNQRW  Sunday      Dawn     15668.0
1  10621     GRD CNTRL-42 ST 4567S  Sunday      Dawn     14267.0
2   3026  34 ST-HERALD SQ BDFMNQRW  Sunday      Dawn     11781.0
3   4636                 72 ST 123  Sunday      Dawn     10379.0
4   7926          CANAL ST 6JNQRWZ  Sunday      Dawn      9328.0
Sunday Morning
    index                   STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0    928      14 ST-UNION SQ 456LNQRW  Sunday   Morning     61277.0
1   3028     34 ST-HERALD SQ BDFMNQRW  Sunday   Morning     54941.0
2  10623        GRD CNTRL-42 ST 4567S  Sunday   Morning     46657.0
3   7928             CANAL ST 6JNQRWZ  Sunday   Morning     43711.0
4  15313  TIMES SQ-42 ST 1237ACENQRSW  Sunday   Morning     40950.0
Sunday Afternoon
    index                   STAT_MERGE DAYWEEK  TIMEOFDAY  ACTUALEXIT
0   3025     34 ST-HERALD SQ BDFMNQRW  Sunday  Afternoon     82908.0
1    925      14 ST-UNION SQ 456LNQRW  Sunday  Afternoon     82236.0
2  15310  TIMES SQ-42 ST 1237ACENQRSW  Sunday  Afternoon     78318.0
3  10620        GRD CNTRL-42 ST 4567S  Sunday  Afternoon     59906.0
4   4145         59 ST COLUMBUS 1ABCD  Sunday  Afternoon     52708.0
Sunday Evening
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3027      34 ST-HERALD SQ BDFMNQRW  Sunday   Evening     73460.0
1  15312   TIMES SQ-42 ST 1237ACENQRSW  Sunday   Evening     65940.0
2    927       14 ST-UNION SQ 456LNQRW  Sunday   Evening     55359.0
3   3482  42 ST-PORT AUTH 1237ACENQRSW  Sunday   Evening     53448.0
4  10622         GRD CNTRL-42 ST 4567S  Sunday   Evening     52469.0
Sunday Night
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3029      34 ST-HERALD SQ BDFMNQRW  Sunday     Night     51583.0
1  15314   TIMES SQ-42 ST 1237ACENQRSW  Sunday     Night     51426.0
2   3484  42 ST-PORT AUTH 1237ACENQRSW  Sunday     Night     48989.0
3  11569         JKSN HT-ROOSVLT 7EFMR  Sunday     Night     45818.0
4   9854               FLUSHING-MAIN 7  Sunday     Night     38777.0
Monday Dawn
    index                STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10611     GRD CNTRL-42 ST 4567S  Monday      Dawn    163625.0
1    916   14 ST-UNION SQ 456LNQRW  Monday      Dawn     94286.0
2  10296        FULTON ST 2345ACJZ  Monday      Dawn     80597.0
3  13796            PATH NEW WTC 1  Monday      Dawn     71084.0
4   3016  34 ST-HERALD SQ BDFMNQRW  Monday      Dawn     56674.0
Monday Morning
    index                   STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10613        GRD CNTRL-42 ST 4567S  Monday   Morning    205328.0
1   3018     34 ST-HERALD SQ BDFMNQRW  Monday   Morning    183866.0
2   3613          47-50 STS ROCK BDFM  Monday   Morning    178935.0
3  15303  TIMES SQ-42 ST 1237ACENQRSW  Monday   Morning    153430.0
4  10298           FULTON ST 2345ACJZ  Monday   Morning    147547.0
Monday Afternoon
    index                   STAT_MERGE DAYWEEK  TIMEOFDAY  ACTUALEXIT
0  10610        GRD CNTRL-42 ST 4567S  Monday  Afternoon    120525.0
1   3015     34 ST-HERALD SQ BDFMNQRW  Monday  Afternoon    104359.0
2    915      14 ST-UNION SQ 456LNQRW  Monday  Afternoon     99098.0
3  15300  TIMES SQ-42 ST 1237ACENQRSW  Monday  Afternoon     72574.0
4  10295           FULTON ST 2345ACJZ  Monday  Afternoon     65761.0
Monday Evening
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10612         GRD CNTRL-42 ST 4567S  Monday   Evening    153311.0
1   3017      34 ST-HERALD SQ BDFMNQRW  Monday   Evening    152632.0
2   3472  42 ST-PORT AUTH 1237ACENQRSW  Monday   Evening    135946.0
3   3157            34 ST-PENN STA ACE  Monday   Evening    131624.0
4    917       14 ST-UNION SQ 456LNQRW  Monday   Evening     99493.0
Monday Night
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3124         34 ST-PENN STA 123ACE  Monday     Night     47919.0
1  11664                KEW GARDENS EF  Monday     Night     44972.0
2   3474  42 ST-PORT AUTH 1237ACENQRSW  Monday     Night     39463.0
3  11594              JOURNAL SQUARE 1  Monday     Night     37767.0
4  11559         JKSN HT-ROOSVLT 7EFMR  Monday     Night     35312.0
Tuesday Dawn
    index                STAT_MERGE  DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10631     GRD CNTRL-42 ST 4567S  Tuesday      Dawn    172887.0
1    936   14 ST-UNION SQ 456LNQRW  Tuesday      Dawn     98055.0
2  10316        FULTON ST 2345ACJZ  Tuesday      Dawn     83432.0
3  13816            PATH NEW WTC 1  Tuesday      Dawn     74164.0
4   3036  34 ST-HERALD SQ BDFMNQRW  Tuesday      Dawn     54945.0
Tuesday Morning
    index                   STAT_MERGE  DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10633        GRD CNTRL-42 ST 4567S  Tuesday   Morning    220165.0
1   3038     34 ST-HERALD SQ BDFMNQRW  Tuesday   Morning    187385.0
2   3633          47-50 STS ROCK BDFM  Tuesday   Morning    181956.0
3  15323  TIMES SQ-42 ST 1237ACENQRSW  Tuesday   Morning    161838.0
4  10318           FULTON ST 2345ACJZ  Tuesday   Morning    150356.0
Tuesday Afternoon
    index                   STAT_MERGE  DAYWEEK  TIMEOFDAY  ACTUALEXIT
0  10630        GRD CNTRL-42 ST 4567S  Tuesday  Afternoon    116362.0
1   3035     34 ST-HERALD SQ BDFMNQRW  Tuesday  Afternoon    104062.0
2    935      14 ST-UNION SQ 456LNQRW  Tuesday  Afternoon    100011.0
3  15320  TIMES SQ-42 ST 1237ACENQRSW  Tuesday  Afternoon     77330.0
4  10315           FULTON ST 2345ACJZ  Tuesday  Afternoon     67804.0
Tuesday Evening
    index                    STAT_MERGE  DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3037      34 ST-HERALD SQ BDFMNQRW  Tuesday   Evening    164403.0
1  10632         GRD CNTRL-42 ST 4567S  Tuesday   Evening    153666.0
2   3492  42 ST-PORT AUTH 1237ACENQRSW  Tuesday   Evening    137677.0
3   3177            34 ST-PENN STA ACE  Tuesday   Evening    136501.0
4    937       14 ST-UNION SQ 456LNQRW  Tuesday   Evening    107024.0
Tuesday Night
    index                    STAT_MERGE  DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3144         34 ST-PENN STA 123ACE  Tuesday     Night     54057.0
1   3494  42 ST-PORT AUTH 1237ACENQRSW  Tuesday     Night     52874.0
2  11684                KEW GARDENS EF  Tuesday     Night     49792.0
3  11579         JKSN HT-ROOSVLT 7EFMR  Tuesday     Night     47336.0
4   9864               FLUSHING-MAIN 7  Tuesday     Night     46582.0
Wednesday Dawn
    index                STAT_MERGE    DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10636     GRD CNTRL-42 ST 4567S  Wednesday      Dawn    163890.0
1    941   14 ST-UNION SQ 456LNQRW  Wednesday      Dawn    100132.0
2  10321        FULTON ST 2345ACJZ  Wednesday      Dawn     87009.0
3  13821            PATH NEW WTC 1  Wednesday      Dawn     71388.0
4   3041  34 ST-HERALD SQ BDFMNQRW  Wednesday      Dawn     53947.0
Wednesday Morning
    index                   STAT_MERGE    DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10638        GRD CNTRL-42 ST 4567S  Wednesday   Morning    224158.0
1   3043     34 ST-HERALD SQ BDFMNQRW  Wednesday   Morning    199326.0
2   3638          47-50 STS ROCK BDFM  Wednesday   Morning    183588.0
3  15328  TIMES SQ-42 ST 1237ACENQRSW  Wednesday   Morning    165786.0
4  10323           FULTON ST 2345ACJZ  Wednesday   Morning    147677.0
Wednesday Afternoon
    index                   STAT_MERGE    DAYWEEK  TIMEOFDAY  ACTUALEXIT
0  10635        GRD CNTRL-42 ST 4567S  Wednesday  Afternoon    127221.0
1   3040     34 ST-HERALD SQ BDFMNQRW  Wednesday  Afternoon    116962.0
2    940      14 ST-UNION SQ 456LNQRW  Wednesday  Afternoon    105635.0
3  15325  TIMES SQ-42 ST 1237ACENQRSW  Wednesday  Afternoon     88804.0
4  10320           FULTON ST 2345ACJZ  Wednesday  Afternoon     68104.0
Wednesday Evening
    index                    STAT_MERGE    DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3042      34 ST-HERALD SQ BDFMNQRW  Wednesday   Evening    164038.0
1  10637         GRD CNTRL-42 ST 4567S  Wednesday   Evening    154650.0
2   3497  42 ST-PORT AUTH 1237ACENQRSW  Wednesday   Evening    133771.0
3   3182            34 ST-PENN STA ACE  Wednesday   Evening    129449.0
4    942       14 ST-UNION SQ 456LNQRW  Wednesday   Evening    111520.0
Wednesday Night
    index                    STAT_MERGE    DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3499  42 ST-PORT AUTH 1237ACENQRSW  Wednesday     Night     57867.0
1   3149         34 ST-PENN STA 123ACE  Wednesday     Night     52562.0
2  11689                KEW GARDENS EF  Wednesday     Night     52518.0
3   9869               FLUSHING-MAIN 7  Wednesday     Night     49302.0
4  11584         JKSN HT-ROOSVLT 7EFMR  Wednesday     Night     48627.0
Thursday Dawn
    index                STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10626     GRD CNTRL-42 ST 4567S  Thursday      Dawn    155331.0
1    931   14 ST-UNION SQ 456LNQRW  Thursday      Dawn     96958.0
2  10311        FULTON ST 2345ACJZ  Thursday      Dawn     80491.0
3  13811            PATH NEW WTC 1  Thursday      Dawn     73945.0
4   3031  34 ST-HERALD SQ BDFMNQRW  Thursday      Dawn     52931.0

Thursday Morning
    index                   STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10628        GRD CNTRL-42 ST 4567S  Thursday   Morning    206738.0
1   3033     34 ST-HERALD SQ BDFMNQRW  Thursday   Morning    198623.0
2   3628          47-50 STS ROCK BDFM  Thursday   Morning    185445.0
3  15318  TIMES SQ-42 ST 1237ACENQRSW  Thursday   Morning    160683.0
4  10313           FULTON ST 2345ACJZ  Thursday   Morning    148136.0
Thursday Afternoon
    index                   STAT_MERGE   DAYWEEK  TIMEOFDAY  ACTUALEXIT
0  10625        GRD CNTRL-42 ST 4567S  Thursday  Afternoon    133396.0
1   3030     34 ST-HERALD SQ BDFMNQRW  Thursday  Afternoon    119857.0
2    930      14 ST-UNION SQ 456LNQRW  Thursday  Afternoon    105189.0
3  15315  TIMES SQ-42 ST 1237ACENQRSW  Thursday  Afternoon     82211.0
4   3170           34 ST-PENN STA ACE  Thursday  Afternoon     72389.0
Thursday Evening
    index                    STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3032      34 ST-HERALD SQ BDFMNQRW  Thursday   Evening    170581.0
1  10627         GRD CNTRL-42 ST 4567S  Thursday   Evening    163529.0
2   3172            34 ST-PENN STA ACE  Thursday   Evening    140710.0
3   3487  42 ST-PORT AUTH 1237ACENQRSW  Thursday   Evening    138341.0
4  15317   TIMES SQ-42 ST 1237ACENQRSW  Thursday   Evening    110933.0
Thursday Night
    index                    STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3489  42 ST-PORT AUTH 1237ACENQRSW  Thursday     Night     58750.0
1   3139         34 ST-PENN STA 123ACE  Thursday     Night     56502.0
2  11574         JKSN HT-ROOSVLT 7EFMR  Thursday     Night     51331.0
3   9859               FLUSHING-MAIN 7  Thursday     Night     49829.0
4  11679                KEW GARDENS EF  Thursday     Night     49818.0
Friday Dawn
    index                STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10606     GRD CNTRL-42 ST 4567S  Friday      Dawn    145246.0
1    911   14 ST-UNION SQ 456LNQRW  Friday      Dawn     89477.0
2  10291        FULTON ST 2345ACJZ  Friday      Dawn     69218.0
3  13791            PATH NEW WTC 1  Friday      Dawn     55931.0
4   3011  34 ST-HERALD SQ BDFMNQRW  Friday      Dawn     50873.0
Friday Morning
    index                   STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0  10608        GRD CNTRL-42 ST 4567S  Friday   Morning    208956.0
1   3013     34 ST-HERALD SQ BDFMNQRW  Friday   Morning    187113.0
2   3608          47-50 STS ROCK BDFM  Friday   Morning    168534.0
3  15298  TIMES SQ-42 ST 1237ACENQRSW  Friday   Morning    147657.0
4  10293           FULTON ST 2345ACJZ  Friday   Morning    137157.0
Friday Afternoon
    index                   STAT_MERGE DAYWEEK  TIMEOFDAY  ACTUALEXIT
0  10605        GRD CNTRL-42 ST 4567S  Friday  Afternoon    139919.0
1   3010     34 ST-HERALD SQ BDFMNQRW  Friday  Afternoon    128318.0
2    910      14 ST-UNION SQ 456LNQRW  Friday  Afternoon    108673.0
3  15295  TIMES SQ-42 ST 1237ACENQRSW  Friday  Afternoon     85545.0
4   3150           34 ST-PENN STA ACE  Friday  Afternoon     84952.0
Friday Evening
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3012      34 ST-HERALD SQ BDFMNQRW  Friday   Evening    163220.0
1  10607         GRD CNTRL-42 ST 4567S  Friday   Evening    142956.0
2   3467  42 ST-PORT AUTH 1237ACENQRSW  Friday   Evening    124543.0
3   3152            34 ST-PENN STA ACE  Friday   Evening    121982.0
4  15297   TIMES SQ-42 ST 1237ACENQRSW  Friday   Evening    112401.0
Friday Night
    index                    STAT_MERGE DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3469  42 ST-PORT AUTH 1237ACENQRSW  Friday     Night     64136.0
1   3014      34 ST-HERALD SQ BDFMNQRW  Friday     Night     51081.0
2   3119         34 ST-PENN STA 123ACE  Friday     Night     45148.0
3   9839               FLUSHING-MAIN 7  Friday     Night     43981.0
4  11554         JKSN HT-ROOSVLT 7EFMR  Friday     Night     42703.0
Saturday Dawn
    index                   STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0    921      14 ST-UNION SQ 456LNQRW  Saturday      Dawn     25658.0
1  10616        GRD CNTRL-42 ST 4567S  Saturday      Dawn     25106.0
2   3021     34 ST-HERALD SQ BDFMNQRW  Saturday      Dawn     18538.0
3   4631                    72 ST 123  Saturday      Dawn     14328.0
4  15306  TIMES SQ-42 ST 1237ACENQRSW  Saturday      Dawn     13629.0
Saturday Morning
    index                   STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0    923      14 ST-UNION SQ 456LNQRW  Saturday   Morning     84550.0
1   3023     34 ST-HERALD SQ BDFMNQRW  Saturday   Morning     73149.0
2  10618        GRD CNTRL-42 ST 4567S  Saturday   Morning     61516.0
3  15308  TIMES SQ-42 ST 1237ACENQRSW  Saturday   Morning     55248.0
4   4143         59 ST COLUMBUS 1ABCD  Saturday   Morning     51595.0
Saturday Afternoon
    index                   STAT_MERGE   DAYWEEK  TIMEOFDAY  ACTUALEXIT
0    920      14 ST-UNION SQ 456LNQRW  Saturday  Afternoon    101106.0
1   3020     34 ST-HERALD SQ BDFMNQRW  Saturday  Afternoon    100164.0
2  15305  TIMES SQ-42 ST 1237ACENQRSW  Saturday  Afternoon     88582.0
3  10615        GRD CNTRL-42 ST 4567S  Saturday  Afternoon     76659.0
4   4140         59 ST COLUMBUS 1ABCD  Saturday  Afternoon     56396.0
Saturday Evening
    index                    STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0  15307   TIMES SQ-42 ST 1237ACENQRSW  Saturday   Evening     92431.0
1   3022      34 ST-HERALD SQ BDFMNQRW  Saturday   Evening     91304.0
2    922       14 ST-UNION SQ 456LNQRW  Saturday   Evening     75250.0
3  10617         GRD CNTRL-42 ST 4567S  Saturday   Evening     65189.0
4   3477  42 ST-PORT AUTH 1237ACENQRSW  Saturday   Evening     64297.0
Saturday Night
    index                    STAT_MERGE   DAYWEEK TIMEOFDAY  ACTUALEXIT
0   3479  42 ST-PORT AUTH 1237ACENQRSW  Saturday     Night     21646.0
1   3129         34 ST-PENN STA 123ACE  Saturday     Night     21521.0
2  11669                KEW GARDENS EF  Saturday     Night     17421.0
3  11564         JKSN HT-ROOSVLT 7EFMR  Saturday     Night     14931.0
4   3444  42 ST-PORT AUTH 1237ACEGNRSW  Saturday     Night     13635.0